/* common shared styles */
body {
    font-family: 'Borel', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}

/* nav related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;

}

.text-primary {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: var(--Dark-02, #474747);
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: white;
    padding: 18px 36px;
}

/* header related styles*/
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

banner .profile-pic {
    width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: var(--Dark-02, #474747);
    margin-bottom: 5px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
}

.banner-content {
    min-width: 500px;
}

.banner-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    width: 585px;
    color: #757575;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.about-info {
    text-align: center;
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-right: 50px;

}

.info-description {
    color: #474747;
}

#what-i-do-description {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    gap: 24px;
}